$family: 'Quicksand', sans-serif;

@use 'vuetify' with (
    $body-font-family: $family
);

:root {
    font-family: 'Quicksand', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Quicksand', sans-serif;
    }
}

@import './variables';
@import './breakpoint';
@import 'vuetify/styles/main.sass';
@import './override';
@import './layout/container';
@import './layout/sidebar';
@import './layout/topbar';
@import './components/VButtons';
@import './components/VCard';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VTextField';
// @import './pages/dashboards';
// @import './pages/auth';
// @import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';
